<div id="favorite-dish">
<button>Random Button</button>
<% @favorites.each do |favorite| %>
<button class="favorite-recipe"><h4><%= favorite.name %></h4></button><br>
<%= favorite.category %><br>
<% if favorite.ingredients.count > 0 %>
<ul>
<% favorite.ingredients.each do |ingredient|%>
<li><%= ingredient %></li>
<% end %>
</ul>
<% end %>
<%= favorite.directions %><br>
<% end %>
</div>
<div id="test-vid"> </div>