<h1><%= @dish.name %></h1>
<h5><%= @dish.description %></h5>
<% if (@dish.ingredients.count > 0) %>
  <p><%= @dish.ingredients %></p>
<% end %>
<center id="test">
  <div id="dish-dish">
    <div class="thumbnail">
      <button>HEY WHATS UP</button>
    </div>
  </div>
</center>
<div id="test-instructions"></div>
<div id="test-ingredients"></div>
<div id="test-vid"> </div>


<!-- Add an optional button to open the popup -->
<button class="my_popup_open">Open popup</button>

<!-- Add content to the popup -->
<div id="my_popup" style="height:20px width: 70px">

  ...popup content...

  <!-- Add an optional button to close the popup -->
  <button class="my_popup_close">Close</button>

</div>

<!-- Include jQuery -->
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

<!-- Include jQuery Popup Overlay -->
<script src="http://vast-engineering.github.io/jquery-popup-overlay/jquery.popupoverlay.js"></script>

// <script>
  $(document).ready(function() {
    $('#my_popup').popup('hide');
    $('.my_popup_open').click(function(){
      // Initialize the plugin
      $('#my_popup').popup('show');
    })
  });
// </script>

