<h1>Welcome to Chefly!</h1>
<p>Cook like your favorite chef</p>
<ul>
<% @restaurants.each do |restaurant| %>
  <h5><%= restaurant.name %></h5>
<p><%= restaurant.location %><br><br><p>
<% end %>
</ul>



