<h1><%= @restaurant.name %>'s Menu</h1>
<ul>
<% @restaurant.dishes.each do |dish| %>
<%= link_to "/restaurants/#{@restaurant.id}/dishes/#{dish.id}" do %>
  <h5><%= dish.name %></h5>
<% end %>
<p><%= dish.description %>
<% end %>
</ul>
