// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pagetabs .award {
 background-color: #f0f0f0 ;
}

#pagetabs .award h4 {
 color: #242424 ;
 font-family: 'Georgia', sans-serif;
 font-style: italic;
}
